
html{width: 100%; height: 100%;}
body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}
.to_top {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #f99c00;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}

.to_top i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.3s;
}
.to_top.len{
    opacity: 1;
}

.to_top:hover i {
    transform: translateY(-10px);
}
a.nut {
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    border-radius: 50px;
    background: #ff9c00;
    border-color: #ff9c00;
    transition: 0.4s;
    padding: 15px 40px;
}

.icon i {
    font-size: 20px;
    color: #222222;
    margin-left: 20px;
    transition: 0.3s;
}
.icon i:hover{
    color: #ff9c00;
}

a.nut:hover{
    color: #ff9c00;
    border-color: #ff9c00;
    background-color: transparent;
}
.khoi_td{
    margin-bottom: 50px;
}
.khoi_td h3 {
    color: #ff9c00;
    font-size: 40px;
    font-family:  'Yellowtail';
}
.khoi_td span {
    font-size: 22px;
    color: #222222;
    display: block;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}
/*CSS cho topheader*/
.topheader {
    margin: 50px 0px 20px 0;
} 
.topheader .trai{
    margin-top: 15px;
}
.topheader .trai i{
    color: #ff9c00;
    margin-right: 15px;
}

.topheader .trai p {
    font-size: 15px;
    color: #777777;
    margin: 0;
     margin-bottom: 10px; 
}
.topheader .trai p.mg{
    margin-bottom: 0;
}
.topheader .trai p span {
    color: #222222;
    font-weight: 600;
}
.topheader .trai p a {
    color: #222222;
    font-weight: 600;
    transition: 0.2s;
}
.topheader .logo img {
    width: 120px;
    margin: 0 auto;
    display: block;
}

.topheader .icon{
    margin-bottom: 10px;
}   
.topheader .trai p a:hover{
    text-decoration: none;
    color: #ff9c00;
}

@media (max-width: 576px){

    .topheader .trai {
        text-align: center;
    }

    .topheader .phai {
        text-align: center;
        margin-top: 20px;
    }
    .topheader .logo{
        margin-top: 20px;
    }
}

/*END CSS CHO topheader*/

/*CSS cho topmenu*/
.topmenu.hienthi{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    background-color: white;
    transition: 0.9s;
}
.topmenu a.nav-link {
    color: #222222 !important;
    font-size: 13px;
    font-weight: 700;
    transition: 0.3s;
    padding: 20px;
    border-top: 1px solid white;
}
.topmenu ul.navbar-nav li.nav-item{
    margin: 0;
}
.topmenu ul.navbar-nav li.nav-item.active a.nav-link{
    color: #ff9c00 !important;
    border-top: 1px solid #ff9c00;
}
.topmenu ul.navbar-nav li.nav-item:hover a.nav-link{
    color: #ff9c00 !important;
    border-top: 1px solid #ff9c00;
}
.topmenu ul.nav.navbar-nav {
    display: inline-block;
}

.topmenu nav.navbar{
    text-align: center;
}
@media (max-width: 576px){
    
    .topmenu .navbar button.navbar-toggler{
        border-color: #ff9c00;
        border-radius: 0;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 20px;        
    }

    
    .topmenu ul.navbar-nav li.nav-item a.nav-link {
        padding: 10px 0;
    }

    #m_top {
        margin-top: 60px;
        margin-bottom: 30px;
        
    }
    
    .topmenu .navbar button.navbar-toggler:hover{
        background-color: #ff9c00;
        
    }
    .topmenu .navbar button.navbar-toggler.vang{
        background-color: #ff9c00;      
    }
}
/*END TOPMENU*/
/*CSS CHO NOIDUNG1*/

.noidung1 h5 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-top: 150px;
}

.noidung1 span:before {
    content: "/";
    color: white;
    padding: 0 10px;
    font-weight: 600;
}

.noidung1 a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.noidung1 span {
    color: #ff9c00;
    font-size: 14px;
    font-weight: 600;
}

.noidung1 {
    background: url(../images/blog-banner.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
} 
@media (max-width: 576px){

}
/*END NOIDUNG1*/

/*CSS CHO NOIDUNG 2*/
.noidung2 .trai img {
    transform: translateY(-100px);
}

.noidung2 .phai {
    margin-top: 100px;
}

.noidung2 .phai .khoi_td p {
    color: #777;
    font-size: 14px;
    line-height: 26px;
    margin-top: 10px;
}

.noidung2 .phai .icon {
    margin-bottom: 20px;
}

@media (max-width: 576px){
    
    .noidung2 .phai{
        margin-top: -60px;
    }
}
/*END NOIDUNG 2*/

/*CSS CHO NOIDUNG 3*/

.noidung3 {
    background: url(../images/nd6-bg.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.noidung3:before{
    background-color: rgba(0, 0, 0, 0.72);
    height: 400px;
    width: 100%;
    position: absolute;
    content: "";
}
.noidung3 .slide {
    padding-top: 115px;
    height: 170px;
}

.noidung3 .carousel-item .item {
    position: relative; 
    height: 170px;
    width: 900px;
    margin: 0 auto;
}
.noidung3 .carousel-item .item .layer1 {
     position: absolute; 
     top: 0; 
     left: 0; 
     z-index: 2;
     height: 100%; 
}
.noidung3 .carousel-item .item .layer1 img{
    width: 150px;
    height: 100%;

}
.noidung3 .carousel-item .item .layer2 {
    background-color: #ff9c00;
    position: absolute;
    top: 35%;
    left: 14%;
    color: black;
    padding: 15px 20px;
    border-radius: 50%;
    z-index: 2;
}
.noidung3 .carousel-item .item .layer3 {
    position: absolute;
    top: 0;
    left: 150px;
    padding: 45px 60px;
    z-index: 1;
    background: white;
}

.noidung3 .carousel-item .item .layer3 h5 {
    float: left;
    font-size: 14px;
    font-weight: 700;
    padding-right: 10px;
    border-right: 1px solid #222;
    margin-right: 10px;
}

.noidung3 .carousel-item .item .layer3 h4 {
    font-size: 14px;
    color: #777;
}

.noidung3 .carousel-item .item .layer3 p {
    font-size: 16px;
    color: #777;
    font-style: italic;
}
.noidung3 .slide a.left{
    height: 0;
    opacity: 1;
    transform: translate(-30%,190px);
}
.noidung3 .slide a.right{
    height: 0;
    opacity: 1;
    transform: translate(30%,190px);
}
.noidung3 .slide a.left i{
    background-color: #ff9c00;
    padding: 10px 15px;
    color: black;
    transition: 0.4s;
}
.noidung3 .slide a.right i{
    background-color: #ff9c00;
    padding: 10px 15px;
    color: black;
    transition: 0.4s;
}
.noidung3 .slide a.left i:hover{
    background-color: white;
}
.noidung3 .slide a.right i:hover{
    background-color: white;
}
    

@media (max-width: 576px){
    
    .noidung3{
        margin-top: 100px;
        height: 550px;
    }

    .noidung3:before {
        height: 550px;
    }
    .noidung3 .carousel-inner {
        overflow: visible;
    }

    .noidung3 .carousel-item .item {
        width: 100%;
    }

    .noidung3 .carousel-item .item .layer1 {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .noidung3 .carousel-item .item .layer2 {
        left: 50%;
        transform: translate(-50%,80px);
    }

    .noidung3 .carousel-item .item .layer3 {
        width: 100%;
        left: 0;
        top: 170px;
        padding: 30px;
    }
}
/*END NOIDUNG3*/

/*CSS CHO NOIDUNG4*/

.noidung4 {
    margin-top: 100px;
    
}
.noidung4 .khoi_td p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
}
.noidung4 .daubep {
    height: 477px;
    width: 100%;
    position: relative;
}
.noidung4 .daubep img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 477px;
}
.noidung4 .daubep .info .layer {
    width: 50px;
    height: 50px;
    background-color: #ff9c00;
    line-height: 50px;
    border-radius: 50%;
    margin: -155px auto;
}

.noidung4 .daubep .info .icon i {
    color: white;
    margin: 0 10px;
    font-size: 18px;
}

.noidung4 .daubep .info {
    background-color: rgba(0, 0, 0, 0.72);
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: 0.8s;
    opacity: 0;
}
.noidung4 .daubep .info .name {
    color: white;
    padding-top: 45px;
}

.noidung4 .daubep .info .name h5 {
    font-size: 18px;
    font-weight: 600;
}

.noidung4 .daubep .info .name p {
    font-size: 13px;
}
.noidung4 .col-sm-4{
    padding: 0;
}
.noidung4 .daubep:hover .info {
    opacity: 1;
    top: 327px;
}
.noidung4 .daubep .info .icon i:hover{
    color: #ff9c00;
}

/*END NOIDUNG4*/
/*CSS CHO NOIDUNG5*/
.noidung5 .container {
    padding: 0;
}

.noidung5 .slider{
    padding-top: 65px;
}

.slick-prev:before, .slick-next:before {
    content: "";
    font-family: fontawesome;
    color: black;
    font-size: 28px;
}

.slick-prev:before {
    content: "";
    font-family: fontawesome;
}

button.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background-color: #f99c00;
    border-radius: 50%;
}

button.slick-prev {
    left: -5%;
    top: 60%;
    transition: 0.4s;
}

button.slick-next {
    right: -5%;
    top: 60%;
    transition: 0.4s;
}
button.slick-prev:hover{
    background-color: white;
}
button.slick-next:hover{
    background-color: white;
}
button.slick-prev.vang, button.slick-next.vang{
    background-color: #f99c00;
}
button.slick-prev.vang:hover{
    background-color: white;
}
button.slick-next.vang:hover{
    background-color: white;
}
.noidung5 .anh {
    height: 180px;
    border: 2px solid gray;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.noidung5 .anh img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.noidung5 .anh:hover{
    border-color: #ff9c00;
}
.noidung5 {
    background: url(../images/clients-bg.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
}

.noidung5:before {
    background-color: rgba(0, 0, 0, 0.72);
    height: 300px;
    width: 100%;
    position: absolute;
    content: "";
}

@media (max-width: 576px){
    *{margin: 0;padding: 0;}
}
/*END NOIDUNG5*/

/*CSS CHO NOIDUNG6*/
.noidung6{
    margin-top: 100px;
}
.noidung6 .trai {
    padding: 0;
    padding-bottom: 50px;
    background: url(../images/orderform-bg.jpg) no-repeat center;
    background-size: cover;
}

.noidung6 .trai:before {
    background-color: rgba(0, 0, 0, 0.72);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.noidung6 .trai img {
    position: absolute;
}
.noidung6 .trai h5 {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.noidung6 .trai form {
    padding-top: 120px;
}

.noidung6 .trai form .form-control {
    background: transparent;
    border: 1px solid #bfbfbf;
    color: #fbfbfb ;
    font-size: 14px;
    margin: 25px 0;
}
.noidung6 .trai form select option{
    color: #222;
}

.noidung6 .phai{
    padding: 0;
}
.noidung6 .phai p{
    font-size: 14px;
    color: #777;
    line-height: 26px;
}
.noidung6 .phai .khoi_thongtin h3 {
    font-size: 35px;
    font-weight: 600;
    color: black;
}

.noidung6 .phai .khoi_thongtin i {
    color: #ff9c00;
    font-size: 25px;
    margin-right: 10px;
}

.noidung6 .phai .khoi_thongtin span {
    font-size: 14px;
    color: #777;
    font-weight: 600;
}

.noidung6 .phai .duoi {
    padding: 50px 0;
}

.noidung6 .phai .tren {
    border-bottom: 1px solid #e2e2e2;
    padding: 50px 0;
}

.noidung6 .phai .col-sm-6 {
    padding: 0;
}

.noidung6 .phai .col-sm-6.left {
    border-right: 1px solid #e2e2e2;
}


@media (max-width: 576px){
    .noidung6 .trai h5 {
        margin-top: -20px;
    }

    .noidung6 .trai {
        margin-top: 50px;
    }

    .noidung6 {
        margin-top: 100px;
    }

    .noidung6 .phai .duoi {
        padding: 30px 0;
    }

    .noidung6 .phai .khoi_thongtin {
        margin: 0;

    }

    .noidung6 .phai .col-sm-6.left {
        border: none;
    }

    .noidung6 .phai .tren {
        border: none;
        padding: 30px 0;
    }
    .noidung6 .phai{
        margin-top: 100px;
    }
}
/*END NOIDUNG 6*/

/*CSS CHO NOIDUNG7*/
.noidung7 {
    background: url(../images/nd8-bg.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
}

.noidung7 h4 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 30px;
}

.noidung7 .form-group .form-control {
    border: none;
    border-radius: 50px;
    background-color: #000;
    height: 40px;
    font-size: 12px;
    font-style: italic;
    padding-left: 30px;
    color: #d7d7d7;
}
.noidung7 .form-group {
    position: relative;
    width: 100%;
}
.noidung7 button.btn {
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 12px;
    background-color: #ff9c00;
    font-weight: 700;
    height: 40px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    transition: 0.5s;
}
.noidung7 button.btn:hover{
    background-color: #000;
    color: #ff9c00;
}

@media (max-width: 576px){

    .noidung7{
        margin-top: 50px;
    }
}
/*END NOIDUNG7*/

/*CSS CHO NOIDUNG8*/

.noidung8 {
    background: url(../images/nd9-bg.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}

.noidung8:before {
    background-color: rgba(0, 0, 0, 0.72);
    height: 500px;
    content: "";
    position: absolute;
    width: 100%;
}
.noidung8 .container {
    padding-top: 100px;
}

.noidung8 .khoi1 img {
    width: 120px;
}

.noidung8 .khoi1 p {
    font-size: 14px;
    line-height: 26px;
    color: #ccc;
    margin-top: 20px;
}
.noidung8 .khoi1 a.btn:hover{
    background-color: transparent;
}
.noidung8 h5 {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.noidung8 ul li a {
    display: block;
    color: #ccc;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.noidung8 ul li a:hover {
    color: #ff9c00;
}
.noidung8 ul{
    margin-top: 20px;
    padding: 0;
}
.noidung8 .khoi4 b {
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
}

.noidung8 .khoi4 b a {
    color: #ccc;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.4s;
}

.noidung8 .khoi4 b .aa {
    margin-left: 95px;
    display: block;
}

.noidung8 .khoi4 b a:hover {
    color: #ff9c00;
}

.noidung8 .khoi4 p {
    color: #ccc;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
}

.noidung8 .khoi4 p span {
    padding-right: 15px;
}
.noidung8 .icon i {
    color: #ff9c00;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 20px;
    transition: 0.4s;
}

.noidung8 .icon {
    margin-top: 30px;
}

.noidung8 .icon i:hover {
    background-color: #ff9c00;
    color: #222;
    border-color: #ff9c00;
}
.noidung8 hr{
    border: 1px solid white;
    margin-top: 50px;
}
.noidung8 .bottom_footer a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.noidung8 .bottom_footer a.vien {
    padding-right: 10px;
    border-right: 1px solid #ccc;
    margin-right: 10px;
}

.noidung8 .bottom_footer {
    color: #ccc;
    font-size: 14px;
}

@media (max-width: 576px){
    .noidung8 .khoi1, .khoi2, .khoi3, .khoi4, .bottom_footer {
        text-align: center;
    }
    .noidung8 {
        height: 1420px;
    }

    .noidung8:before {
        height: 1420px;
    }

    .noidung8 .khoi1 {
        margin-bottom: 50px;
    }
    
}
