
html{width: 100%; height: 100%;}
body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}
.to_top {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #f99c00;
    cursor: pointer;
    margin-bottom: 100px;
    margin-right: 20px;
    opacity: 0;
    transition: 0.3s;
}

.to_top i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.3s;
}
.to_top.len{
    opacity: 1;
}

.to_top:hover i {
    transform: translateY(-10px);
}
a.nut {
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    border-radius: 50px;
    background: #ff9c00;
    border-color: #ff9c00;
    transition: 0.4s;
    padding: 15px 40px;
}

.icon i {
    font-size: 20px;
    color: #222222;
    margin-left: 20px;
    transition: 0.3s;
}
.icon i:hover{
    color: #ff9c00;
}

a.nut:hover{
    color: #ff9c00;
    border-color: #ff9c00;
    background-color: transparent;
}


/*CSS cho topheader*/
.topheader {
    margin: 50px 0px 20px 0;
} 
.topheader .trai{
    margin-top: 15px;
}
.topheader .trai i{
    color: #ff9c00;
    margin-right: 15px;
}

.topheader .trai p {
    font-size: 15px;
    color: #777777;
    margin: 0;
     margin-bottom: 10px; 
}
.topheader .trai p.mg{
    margin-bottom: 0;
}
.topheader .trai p span {
    color: #222222;
    font-weight: 600;
}
.topheader .trai p a {
    color: #222222;
    font-weight: 600;
    transition: 0.2s;
}
.topheader .logo img {
    width: 120px;
    margin: 0 auto;
    display: block;
}

.topheader .icon{
    margin-bottom: 10px;
}   
.topheader .trai p a:hover{
    text-decoration: none;
    color: #ff9c00;
}

@media (max-width: 576px){

    .topheader .trai {
        text-align: center;
    }

    .topheader .phai {
        text-align: center;
        margin-top: 20px;
    }
    .topheader .logo{
        margin-top: 20px;
    }
}

/*END CSS CHO topheader*/

/*CSS cho topmenu*/
.topmenu.hienthi{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    background-color: white;
    transition: 0.9s;
}
.topmenu a.nav-link {
    color: #222222 !important;
    font-size: 13px;
    font-weight: 700;
    transition: 0.3s;
    padding: 20px;
    border-top: 1px solid white;
}
.topmenu ul.navbar-nav li.nav-item{
    margin: 0;
}
.topmenu ul.navbar-nav li.nav-item.active a.nav-link{
    color: #ff9c00 !important;
    border-top: 1px solid #ff9c00;
}
.topmenu ul.navbar-nav li.nav-item:hover a.nav-link{
    color: #ff9c00 !important;
    border-top: 1px solid #ff9c00;
}
.topmenu ul.nav.navbar-nav {
    display: inline-block;
}

.topmenu nav.navbar{
    text-align: center;
}
@media (max-width: 576px){
    
    .topmenu .navbar button.navbar-toggler{
        border-color: #ff9c00;
        border-radius: 0;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 20px;        
    }

    
    .topmenu ul.navbar-nav li.nav-item a.nav-link {
        padding: 10px 0;
    }

    #m_top {
        margin-top: 60px;
        margin-bottom: 30px;
        
    }
    
    .topmenu .navbar button.navbar-toggler:hover{
        background-color: #ff9c00;
        
    }
    .topmenu .navbar button.navbar-toggler.vang{
        background-color: #ff9c00;      
    }
}
/*END TOPMENU*/
/*CSS CHO NOIDUNG1*/

.noidung1 h5 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-top: 150px;
}

.noidung1 a:after {
    content: "/";
    color: white;
    padding: 0 10px;
    font-weight: 600;
}

.noidung1 a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.noidung1 span {
    color: #ff9c00;
    font-size: 14px;
    font-weight: 600;
}

.noidung1 {
    background: url(../images/blog-banner.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
} 

/*END NOIDUNG1*/

/*CSS CHO NOIDUNG2*/

.noidung2 {
    margin-top: 100px;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude {
    height: 100px;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude h5 a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-weight: 600;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude span {
    font-size: 12px;
    color: #ff9c00;
    padding-right: 10px;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude a.other {
    font-size: 12px;
    color: #777;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude a.other:last-child:after {
    content: "";
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude a.other:hover {
    color: #ff9b00;
}

.noidung2 .khoi_trai .khoi_tin .khoi_tieude a.other:after {
    content: "/";
    padding: 0 5px;
}

.noidung2 .khoi_trai .khoi_tin .anh {
    margin-bottom: 30px;
    display: block;
}

.noidung2 .khoi_tin .date {
    background-color: #ff9c00;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
}

.noidung2 .khoi_tin .date h5 {
    font-size: 25px;
    font-weight: 600;
    color: #222;
}

.noidung2 .khoi_tin .date span {
    font-size: 15px;
    font-weight: 500;
}

.noidung2 .khoi_trai .khoi_tin {
    margin-bottom: 50px;
}

.noidung2 .khoi_trai .khoi_tin p {
    font-size: 14px;
    line-height: 26px;
    color: #777;
    letter-spacing: 0.5px;
}

.noidung2 .khoi_trai .khoi_anh {
    background: url(../images/blockquote-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 50px;
    color: white;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 26px;
    z-index: 1;
    position: relative;
    margin-bottom: 15px;
}

.noidung2 .khoi_trai .khoi_anh:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.72);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.noidung2 .tags {
    margin: 20px 0;
}

.noidung2 .khoi_trai .tags h5 {
    display: inline;
    font-size: 13px;
    color: #222;
    font-weight: 600;
    margin-right: 10px;
}

.noidung2 .khoi_trai .tags a {
    color: #777;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: 0.4s;
}

.noidung2 .khoi_trai .tags a:hover {
    color: #f99c00;
}

.noidung2 .khoi_trai .share {
    float: right;
}

.noidung2 .khoi_trai .share h5 {
    display: inline;
    font-size: 13px;
    color: #222;
    font-weight: 600;
    margin-right: 10px;
}

.noidung2 .khoi_trai .share a {
    color: #979797;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    background-color: #e8e8e8;
    text-align: center;
    border-radius: 50%;
    transition: 0.4s;
}

.noidung2 .khoi_trai .share a:hover {
    background-color: #f99c00;
    color: white;
}

.noidung2 .khoi_trai .khoi_comment {
    margin-top: 50px;
}

.noidung2 .khoi_trai .khoi_comment h3 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
    margin-bottom: 30px;
}
.noidung2 .khoi_comment .khoi_nd {
    position: relative;
    height: 120px;
    margin-bottom: 40px;
}

.noidung2 .khoi_comment .khoi_nd:nth-child(3) {
    margin-left: 40px;
}

.noidung2 .khoi_comment .khoi_nd .anh {
    position: absolute;
    top: 0;
    left: 0;
}

.noidung2 .khoi_comment .khoi_nd .thongtin {
    position: absolute;
    top: 0;
    left: 90px;
}

.noidung2 .khoi_nd .reply {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #222;
    cursor: pointer;
    transition: 0.4s;
}

.noidung2 .khoi_nd .reply:hover {
    color: #f99c00;
}
.noidung2 .khoi_trai .khoi_comment .name {
    font-size: 14px;
    color: #222;
    font-weight: 600;
    margin-bottom: 10px;
}

.noidung2 .khoi_trai .khoi_comment .date {
    font-size: 13px;
    color: #777;
    font-style: italic;
    margin-bottom: 20px;
}

.noidung2 .khoi_trai .khoi_comment p {
    font-size: 14px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.noidung2 .khoi_post_comment {
    margin-top: 50px;
    margin-bottom: 100px;
}

.noidung2 .khoi_post_comment .form-control {
    font-size: 12px;
}

.noidung2 .khoi_post_comment h3 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
    margin-bottom: 30px;
}

.noidung2 .khoi_post_comment .col-sm-12 {
    margin: 30px 0;
}


/*END KHOI_TRAI*/

.noidung2 .khoi_phai .khoi_td span {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.noidung2 .khoi_phai .khoi_td {
    margin-bottom: 20px;
}

.noidung2 .khoi_phai .input-group input {
    font-size: 14px;
    font-style: italic;
    padding-left: 15px;
    letter-spacing: 0.5px;
}

.noidung2 .khoi_phai .input-group .btn {
    background-color: #ff9c00;
    border-radius: 0px;
}

.noidung2 .khoi_phai .input-group {
    margin-bottom: 50px;
}

.noidung2 .khoi_phai .khoi_categories{
    margin-bottom: 50px;
}
.noidung2 .khoi_phai .khoi_categories a i {
    padding-right: 15px;
}

.noidung2 .khoi_phai .khoi_categories ul li {
    list-style: none;
    margin-bottom: 10px;
}

.noidung2 .khoi_phai .khoi_categories ul li a:hover {
    color: #ff9c00;
}

.noidung2 .khoi_phai .khoi_categories ul li a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.4s;
}

.noidung2 .khoi_phai .khoi_recent_post {
    margin-bottom: 60px;
    position: relative;
    width: 100%;
}

.noidung2 .khoi_phai .khoi_recent_post a.anh:hover:before {opacity: 1;}

.noidung2 .khoi_phai .khoi_recent_post a.anh:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.22);
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: 0.4s;
}
.noidung2 .khoi_phai .khoi_recent_post span {
    font-size: 13px;
    font-style: italic;
    color: #222;
    float: left;
    margin-right: 10px;
    margin-left: 95px;
}

.noidung2 .khoi_phai .khoi_recent_post p {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    color: #ff9c00;
    float: left;
}

.noidung2 .khoi_phai .khoi_recent_post p.name {
    padding-right: 10px;
    border-right: 1px solid #777;
    margin-right: 10px;
}

.noidung2 .khoi_phai .khoi_recent_post a img {
    position: absolute;
    left: 0;
}

.noidung2 .khoi_phai .khoi_recent_post a.td {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    line-height: 26px;
    display: block;
    margin-bottom: 15px;
    transition: 0.4s;
    margin-left: 95px;
}
.noidung2 .khoi_phai .khoi_recent_post a.td:hover{
    color: #ff9c00;
}
.noidung2 .khoi_phai .khoi_td.kc{
    margin-top: 80px;
}

.noidung2 .khoi_phai .khoi_video {
    width: 100%;
    height: 250px;
    background: url(../images/video-post.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

.noidung2 .khoi_phai .khoi_video:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.noidung2 .khoi_phai .khoi_video .play {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.noidung2 .khoi_phai .khoi_video .play:hover {
    background-color: #ff9c00;
    border-color: transparent;
}

.noidung2 .khoi_phai {
    border: 1px solid #e2e2e2;
    padding: 50px 30px;
    height: 1640px;
}
@media (max-width: 576px){
    .noidung2 {
        margin-bottom: 100px;
    }

    .noidung2 .khoi_comment .khoi_nd {
        margin-bottom: 170px;
    }

}
*{margin: 0;padding: 0;}
/*CSS CHO NOIDUNG8*/
.noidung8 {
    background: url(../images/nd8-bg.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
}

.noidung8 h4 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 30px;
}

.noidung8 .form-group .form-control {
    border: none;
    border-radius: 50px;
    background-color: #000;
    height: 40px;
    font-size: 12px;
    font-style: italic;
    padding-left: 30px;
    color: #d7d7d7;
}
.noidung8 .form-group {
    position: relative;
    width: 100%;
}
.noidung8 button.btn {
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 12px;
    background-color: #ff9c00;
    font-weight: 700;
    height: 40px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    transition: 0.5s;
}
.noidung8 button.btn:hover{
    background-color: #000;
    color: #ff9c00;
}

@media (max-width: 576px){

    .noidung8{
        margin-top: 50px;
    }
}
/*END NOIDUNG8*/
/*CSS CHO NOIDUNG9*/

.noidung9 {
    background: url(../images/nd9-bg.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}

.noidung9:before {
    background-color: rgba(0, 0, 0, 0.72);
    height: 500px;
    content: "";
    position: absolute;
    width: 100%;
}
.noidung9 .container {
    padding-top: 100px;
}

.noidung9 .khoi1 img {
    width: 120px;
}

.noidung9 .khoi1 p {
    font-size: 14px;
    line-height: 26px;
    color: #ccc;
    margin-top: 20px;
}
.noidung9 .khoi1 a.btn:hover{
    background-color: transparent;
}
.noidung9 h5 {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.noidung9 ul li a {
    display: block;
    color: #ccc;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.noidung9 ul li a:hover {
    color: #ff9c00;
}
.noidung9 ul{
    margin-top: 20px;
    padding: 0;
}
.noidung9 .khoi4 b {
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
}

.noidung9 .khoi4 b a {
    color: #ccc;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.4s;
}

.noidung9 .khoi4 b .aa {
    margin-left: 95px;
    display: block;
}

.noidung9 .khoi4 b a:hover {
    color: #ff9c00;
}

.noidung9 .khoi4 p {
    color: #ccc;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
}

.noidung9 .khoi4 p span {
    padding-right: 15px;
}
.noidung9 .icon i {
    color: #ff9c00;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 20px;
    transition: 0.4s;
}

.noidung9 .icon {
    margin-top: 30px;
}

.noidung9 .icon i:hover {
    background-color: #ff9c00;
    color: #222;
    border-color: #ff9c00;
}
.noidung9 hr{
    border: 1px solid white;
    margin-top: 50px;
}
.noidung9 .bottom_footer a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.noidung9 .bottom_footer a.vien {
    padding-right: 10px;
    border-right: 1px solid #ccc;
    margin-right: 10px;
}

.noidung9 .bottom_footer {
    color: #ccc;
    font-size: 14px;
}

@media (max-width: 576px){
    .noidung9 .khoi1, .noidung9 .khoi2, .noidung9 .khoi3, .noidung9 .khoi4, .noidung9 .bottom_footer {
        text-align: center;
    }

    .noidung9 {
        height: 1420px;
    }

    .noidung9:before {
        height: 1420px;
    }

    .noidung9 .khoi1 {
        margin-bottom: 50px;
    }
    
}



